@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
  @apply font-medium;
}

h2 {
  @apply font-medium;
  @apply text-2xl;
}

h3 {
  @apply font-medium;
  @apply text-lg;
}

h4 {
  @apply font-medium;
}

pre {
  @apply whitespace-normal break-words;
  @apply text-sm;
}

ol {
  @apply list-decimal;
  @apply ml-4;
}

ol > li {
  @apply mb-4;
}

blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px !important;
}
